<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
        body{
            background: {{gradient}};
            background-repeat: no-repeat;
            background-attachment: fixed;
            margin: 12px;
            font-size: 100%;
            font-family: 'Open Sans', sans-serif;
            color: white;
            height: 100%;
        }
    </style>
    {% block title %} {% endblock %}
    
</head>
<body>
    {% block body %} {% endblock %}
</body>
</html>